<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Nacua-Ybañez Apartment 2015. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>