<div data-controls-modal="loading" data-backdrop="static" data-keyboard="false" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="padding-top: 200px">
        <img src="~/Images/loading.GIF" class="img-responsive img-center" />
    </div>
</div>